<ion-view view-title="">
        <div class="bar bar-header bar-light">
                <h1 class="title">Questionario</h1>
              </div>
    <ion-content class="padding">
        <h2>Questionario</h2>
        
        <ul class="list">
            <li class="item" ng-click="openForm()">
                Questionario 1
            </li>
            <li class="item" ng-click="openForm()">
                Questionario 2
            </li>
            <li class="item" ng-click="openForm()">
                Questionario 3
            </li>                                      
        </ul>
    </ion-content>
</ion-view>