<ion-view view-title="">
        <div class="bar bar-header bar-light">
                <button class="button icon-left ion-chevron-left button-clear button-dark" ng-click="back()"></button>
                <h1 class="title">Questionario 1</h1>
              </div>

    <ion-content class="padding">
        <h2>Questionario</h2>
        
        <div class="list">
                <label class="item item-input item-stacked-label">
                  <span class="input-label">First Name</span>
                  <input type="text" placeholder="John">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Last Name</span>
                  <input type="text" placeholder="Suhr">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Email</span>
                  <input type="text" placeholder="john@suhr.com">
                </label>
              </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="back()">Responder</button>
            </div>              
    </ion-content>
</ion-view>